.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 25%;
  background-color: cadetblue;
  height: 70px;
}

a {
  color: aliceblue;
  text-decoration: none;
  font-size: 23px;
}

.active {
  color: black;
}
